*{
    margin: 0;
}
.main{
    margin: 15px;
}
.header{
    height: 60px;
    background-color: #010b56;
    
    background-color: #f3f3f3;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.header > div{
    display: flex;
    justify-content: center;
}
.header > div > a {
    color: #f3f3f3;
    padding-right: 10px;
    padding-left: 10px;
    
    
}
.header > div > a:hover {
    background-color: #030f70;
    
}
body{
    color: #f3f3f3;
    background-color: #000223;
}